@media (min-width: 640px) {
    .dlp-doctor-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .dlp-doctor-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .dlp-doctor-list {
        gap: 1.875rem;
        margin-top: 3.4375rem;
    }
} 