.dcp-doctor-card {
    padding: 1.5rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.dcp-doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-color: #38b6ff;
}

.dcp-doctor-card__image {
    width: 120px; /* Set a fixed width for the images */
    height: 120px; /* Set a fixed height for the images */
    overflow: hidden; /* Hide overflow to ensure uniform size */
    border-radius: 50%; /* Make the images circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the image horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for elegance */
    border: 4px solid #38b6ff; /* Add a border to the image */
}

.dcp-doctor-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}

.dcp-doctor-card__info {
    margin-top: 1.5rem;
}

.dcp-doctor-card__name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #333;
    margin-top: 0.75rem;
}

.dcp-doctor-card__specialization {
    font-size: 1.125rem;
    color: #38b6ff;
    margin-top: 0.5rem;
}

.dcp-doctor-card__hospital {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
}