/* Global reset for margin and padding */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* Specific styling for the ViewAppointmentRequests page */
.view-appointment-requests-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #d4d4d8, #e4e4e7, #f4f4f5, #a1a1aa);
  min-height: 100vh;
  padding: 20px; /* Give some padding to the body */
  /* margin: 100px; */
}

/* Container for the content */
.view-appointment-requests-container {
  background-color: #fff;
  width: 100%; /* Full width of the parent container */
  max-width: 1000px; /* Maximum width for large screens */
  min-height: 100vh; /* Take the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align the content at the top */
  text-align: center;
  align-items: center; /* Center everything horizontally */
  border-radius: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: black;
  padding: 20px; /* Padding inside the container */
  margin-top: 5vh; /* Add consistent margin-top across all screen sizes */
}

/* Title styles */
.view-appointment-requests-title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  position: relative;
}



/* List of cards */
.view-appointment-requests-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the list takes full width */
  justify-content: center;
  gap: 1rem; /* Space between each card */
}

/* Responsive Design */
@media (max-width: 767px) {
  .view-appointment-requests-container {
    width: 80vw; /* Adjust width for small screens */
  }
  .view-appointment-requests-title {
    font-size: 20px; /* Adjust title font size */
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .view-appointment-requests-container {
    width: 80vw; /* Increase width for tablets */
  }
}

@media (max-width: 475px) {
  .view-appointment-requests-title {
    font-size: 18px; /* Further reduce title size for smaller screens */
    margin-bottom: 5px;
  }
}

@media (max-width: 375px) {
  .view-appointment-requests-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
