body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: linear-gradient(135deg, #d4d4d8, #e4e4e7, #f4f4f5, #a1a1aa); /* Light blue background */
  }
  
  .admin-form-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .admin-form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-form-group {
    margin-bottom: 15px;
  }
  
  .admin-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  
  .admin-submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  
  