.card {
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    margin: 10px;
    padding: 20px;
    width: 80%; /* 80% of the parent container */
    display: flex;
    justify-content: space-between; /* Space between left and right content */
    align-items: center; /* Align items vertically at the center */
    height: 70px; /* Set a fixed height to ensure a rectangle */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.card-info h2{     
    text-align: center;
  }

.btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px; /* Ensure uniform button height */
  }
  
  .btn:hover {
    background-color: #0056b3;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/*For Responsiveness*/

/* Small screens (up to 767px) */
@media (max-width: 767px) {
  .card { width: 90%; padding: 15px; margin: 10px; }
  .btn { padding: 8px 16px; height: 35px; }
  .card-info { margin-right: 10px; }
  .card-info h2 { font-size: 1rem; }
  .card-info p { font-size: 0.8rem; }
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .card { width: 85%; }
  .card-info h2 { font-size: 1.2rem; }  /* Adjust font-size for tablets */
}
@media (max-width: 475px) {
  .card { width: 95%; padding: 10px; margin: 5px; }
  .btn { padding: 5px 12px; height: 30px; font-size: 0.8rem; }
  .card-info h2 { font-size: 1rem; }
  .card-info p { font-size: 0.7rem; }
}

@media (max-width: 375px) {
  .card { width: 95%; padding: 10px; margin: 5px; }
  .btn { padding: 5px 12px; height: 25px; font-size: 0.5rem; }
  .card-info h2 { font-size: 0.7rem; }
  .card-info p { font-size: 0.5rem; }
}
